.submit-btn {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;

  font-weight: bold;

  background-color: var(--form-add-button);
  color: #FFF;

  height: 2rem;
  padding: 0 0.5rem;
}

.submit-btn:hover {
  transition: 0.15s;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}