.calendar-form {
  margin: 0.5rem 0;

  background-color: #fff;
  padding: 0.5rem;
  border-bottom: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.workoutLog {
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  display: flex;
  align-items: center;
}

.input-text {
  border-bottom: 1px dotted black;
  height: 2rem;
  margin-left: 10px;
  width: 100px;
}

.input-number {
  display: flex;
  flex-direction: column;
}

.remove-btn {
  padding: 10px;
}

.remove-btn:hover {
  transition: 0.15s;
  cursor: pointer;
  color: red;
}

.field {
  font-weight: bold;
  font-size: 0.6rem;
  text-align: center;
  margin-left: 10px;
}

.repeat {
  border-bottom: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  font-weight: bold;

  text-align: center;
  width: 2rem;

  height: 2rem;
  margin-left: 10px;
}

.repeat--set{
  background-color: var(--form-set);
  color: var(--form-set-font);
}

.repeat--rep{
  background-color: var(--form-rep);
  color: var(--form-rep-font);
}

.repeat--weight{
  background-color: var(--form-weight);
  color: var(--form-weight-font);
}

.repeat--add{
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  font-size: 2rem;
  font-weight: normal;
  background-color: var(--form-add-button);
  color: #FFF;
  height: 3rem;
  width: 3rem;
}

.repeat--add:hover {
  transition: 0.15s;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (min-width: 450px) {
  .input-text {
    width: 150px;
  }

  .repeat--add{
    position: relative;

    right: 0;
    bottom: 0;


    height: 2rem;
    width: 2rem;
    margin-left: 10px;
  }


}