input {
  border-bottom: 1px dotted black;
  height: 2rem;
  margin-left: 10px;
}


.repeat {
  border-bottom: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  font-weight: bold;

  text-align: center;
  width: 2rem;
}

.repeat--add{
  font-size: 2rem;
  font-weight: normal;
  background-color: var(--form-add-button);
  color: #FFF;
  height: 2rem;
  margin-left: 10px;
}

.repeat--add:hover {
  transition: 0.15s;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.repeat--set{
  background-color: var(--form-set);
  color: var(--form-set-font);
}

.repeat--rep{
  background-color: var(--form-rep);
  color: var(--form-rep-font);
}

.repeat--weight{
  background-color: var(--form-weight);
  color: var(--form-weight-font);
}